* {
    box-sizing: border-box;
}


form.main-form input[type=text] {
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
}

form.main-form select {
    border: 1px solid gray;
    background: #f1f1f1;
}

select{
    padding: 2.5px;
    width: 60px;
}

form.main-form button {
    float: left;
    width: 20%;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.main-form button:hover {
    background: #0b7dda;
}

form.main-form::after {
    content: "";
    clear: both;
    display: table;
}

.dropdown {
    float: left;
    overflow: hidden;
    background-color: #2196F3;
    width: 60px;
    padding: 0.7px;
}

.dropdown .dropbtn {
    font-size: 16px;
    outline: none;
    color: #fff;
    padding: 1.2px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 90px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 60px;
}


.dropdown-content a:hover {
    background-color: #2196F3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

